<h1>Sensor List</h1>
<div id="charts" class="row">
    <% @sensors.each do |s| %>
    <div class="col-md-6">
        <h2><%= s.name %></h2>
        <h5>Temperature 
        <span id=<%= "latest_temperature"+s.id.to_s %>></span></h5>
        <h5>Humidity 
        <span id=<%= "latest_humidity"+s.id.to_s %>></span></h5>
        <h6>In last 
        <span id=<%= "hour_timeframe"+s.id.to_s %> class="hour_mark"><%= @hours %>
        </span> hours</h6>
        <canvas id=<%= "sensor"+s.id.to_s %>></canvas>

        <div style="text-align:center;">
            <button type="button" onclick="drawGraph(<%= s.id %>, <%="sensor"+s.id.to_s %>, 12)">12 Hours</button>
            <button type="button" onclick="drawGraph(<%= s.id %>, <%="sensor"+s.id.to_s %>, 24)">24 Hours</button>
            <button type="button" onclick="drawGraph(<%= s.id %>, <%="sensor"+s.id.to_s %>, 48)">48 Hours</button>
            <button type="button" onclick="drawGraph(<%= s.id %>, <%="sensor"+s.id.to_s %>, 24*7)">1 Week</button>
        </div>
    </div>
    <% end %>
</div>